[submodule "external/OpenSiv3D"]
	path = external/OpenSiv3D
	url = https://github.com/Siv3D/OpenSiv3D.git
	branch = main
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
